.m1 { 
	overflow:auto;
}
.m1 { 
	background-color:rgba(255, 255, 255, 1);
	width:100%;
	height: 100%;
	position: absolute;
}
.m2 { 
	width:200px;
	height:171px;
	position:absolute;
	left:130px;
	top:82px;
	background-image:url(images/_pngtree_shop_logo_design_with_a_7961653_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.m4 { 
	color:rgba(0, 0, 0, 1);
	width:494px;
	height:66px;
	position:absolute;
	left:473px;
	top:102px;
	font-family:Roboto, Arial, Verdana;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}
.m5 { 
	width:71px;
	height:54px;
	position:absolute;
	left:1250px;
	top:138px;
	background-image:url(images/pngegg__2__2.png);
	background-repeat:no-repeat;
	background-size:cover;
	border-color: white;
}
.m6 {
	width:71px;
	height:54px;
	position:absolute;
	left:1100px;
	top:138px;
	background-color: rgba(0,0,0,0);
	background-repeat:no-repeat;
	background-size:cover;
	border-color: white;
}
#btnUsuario{
	left:1100px;
	top:138px;
	background-color: rgba(0,0,0,0);
	background-repeat:no-repeat;
	background-size:cover;
}
#btnCompra{
	background-color: rgba(0,0,0,0);
	background-repeat:no-repeat;
	background-size:cover;
}
.m7 { 
	background-color:rgba(217, 217, 217, 1);
	border: solid 1px;
	border-radius: 6px;
	width:289px;
	height:32px;
	position:absolute;
	left:470px;
	top:254px;
}

#m7{
	float: left;
	background-color: rgba(217, 217, 217, 1);
	padding-left: 2px;	
	border-radius: 6px;
	font-size: 12px;
	border: none;
	width:250px;
	height:28px;
}
.m8 { 
	color:rgba(0, 0, 0, 0.);
	width:228px;
	height:18px;
	position:absolute;
	left:635px;
	top:275px;
	font-family:Roboto, Arial, Verdana;	
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.m10 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.m10 { 
	width:300px;
	height:315px;
	position:absolute;
	left:75px;
	top:498px;
	image-rendering	:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
	border: none;
}
.m11 { 
	width:300px;
	height:315px;
	position:absolute;
	left:402px;
	top:498px;
	image-rendering:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
	border: none;
}
.m12 { 
	color:rgba(0, 0, 0, 1);
	width:283px;
	height:76px;
	position:absolute;
	left:75px;
	top:868px;
	font-family:Roboto, Arial, Verdana;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}


.m13 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:230px;
	height:19px;
	position:absolute;
	left:75px;
	top:892px;
	font-family:Roboto, Arial, Verdana;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.m14 { 
	color:rgba(0, 0, 0, 1);
	width:284px;
	height:76px;
	position:absolute;
	left:402px;
	top:868px;
	font-family:Roboto, Arial, Verdana;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.m15 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:287px;
	height:27px;
	position:absolute;
	left:402px;
	top:892px;
	font-family:Roboto, Arial, Verdana;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.m16 { 
	width:257px;
	height:333px;
	position:absolute;
	left:730px;
	top:498px;
	background-image:url(images/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
	border: none;
}
.m17 { 
	color:rgba(0, 0, 0, 1);
	width:291px;
	height:98px;
	position:absolute;
	left:730px;
	top:866px;
	font-family:Roboto, Arial, Verdana;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.m18 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:303px;
	height:24px;
	position:absolute;
	left:730px;
	top:892px;
	font-family:Roboto, Arial, Verdana;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.m19 { 
	width:200px;
	height:303px;
	position:absolute;
	left:1060px;
	top:498px;
	background-image:url(images/image_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.m20 { 
	color:rgba(0, 0, 0, 1);
	width:281px;
	height:96px;
	position:absolute;
	left:1060px;
	top:866px;
	font-family:Roboto, Arial, Verdana;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.m21 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:295px;
	height:17px;
	position:absolute;
	left:1060px;
	top:887px;
	font-family:Roboto, Arial, Verdana;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}

.m22{
	position: absolute;
	left: 175px;
	top:310px;
	opacity: 50%;
	font-family: Roboto, Arial, Verdana;
}
#botao{
	border: none;
	font-family: Roboto, Arial, Verdana;
	font-weight: 300;
	font-size: .75em;
	color: #4a4a4a;
	background-color: white;
	border-color: blue;
}
.txt{
	font-family: Roboto, Arial, Verdana;
	font-weight: 300;
	font-size: .75em;
	color: #4a4a4a;
	float: left;
	line-height: 16px;
	padding-right: 12px;
	padding-left: 7px;
	padding-bottom: 3px;
	position: relative;
}
.m23{
	position:absolute;
	left:175px;
	top:375px;
	background-color: rgba(0,0,0,0);
	border: none;
	image-rendering: url(images/image_2.png);
}
.m24{
	position:absolute;
	left:175px;
	top:492px;
	background-color: rgba(0,0,0,0);
	border: none;
	image-rendering: url(images/image_3.png);
}
.m25{
	position:absolute;
	left:175px;
	top:609px;
	background-color: rgba(0,0,0,0);
	border: none;
	image-rendering: url(images/image_4.png);
}
.m26{
	position:absolute;
	left:175px;
	top:726px;
	background-color: rgba(0,0,0,0);
	border: none;
	image-rendering: url(images/image_6.png);
}
.m27{
	position:absolute;
	left:175px;
	top:843px;
	background-color: rgba(0,0,0,0);
	border: none;
	image-rendering: url(images/image_9.png);
}

.moldura{
	left: 380px;
	top: 380px;
	height: 570px;
	width: 420px;
	position:absolute;
	border: none;
	transition: background-image 2s;
}
.slider{
	display: block;
	height: 570px;
	width: 420px;
	margin: auto;
	position: relative;
}
.slider li{
	list-style: none;
	position: absolute;
}
.slider img{
	margin: auto;
	height: 570px;
	width: 420px;
	vertical-align: top;
}
.slider input{
	display: none;
}
.slider label{
	background-color: #000;
	bottom: 10px;
	cursor: pointer;
	display: block;
	height: 10px;
	position: absolute;
	width: 10px;
	z-index: 10;
}
.slider li:nth-child(1) label{
	left: 260px;
}
.slider li:nth-child(2) label{
	left: 170px;
}
.slider li:nth-child(3) label{
	left: 200px;
}
.slider li:nth-child(4) label{
	left: 230px;
}
.slider li:nth-child(5) label{
	left: 140px;
}
.slider img{
	opacity: 0;
	visibility: hidden;
}
.slider li input:checked ~ img{
	opacity: 1;
	visibility: visible;
	z-index: 10;
}
.m28{
	position:absolute;
	left: 975px;
	top:375px;
	background-color: rgba(0,0,0,0);
	border: none;
	font-size: 28px;
	font-weight: bold;
	font-family: Roboto, Arial, Verdana;
}
.m29{
	position:absolute;
	left: 975px;
	top:425px;
	background-color: rgba(0,0,0,0);
	border: none;
	font-family: Roboto, Arial,Verdana;
	opacity: 50%;
}
.m30{
	position:absolute;
	left: 975px;
	top:600px;
	background-color: rgba(0,0,0,0);
	border: none;
	font-family: Roboto, Arial, Verdana;
	font-size: 24px;
	font-weight: bold;
}
.m31{
	position:absolute;
	left: 975px;
	top:630px;
	background-color: rgba(0,0,0,0);
	border: none;
	font-family: Roboto, Arial, Verdana;
	font-size: 12px;
	font-weight: bold;
}
.m32{
	position:absolute;
	left: 975px;
	top:670px;
	background-color: rgba(0,0,0,0);
	border: none;
	font-family: Roboto, Arial, Verdana;
	font-size: 24px;
	font-weight: bold;
	opacity: 50%;
}
.m33{
	position:absolute;
	left: 975px;
	top:720px;	
}
.m34{
	left: 990px;
	top:820px;
	position:absolute;
	background-color: rgba(0,0,0,0);
	background-repeat:no-repeat;
	background-size:cover;
	border-color: white;
}
#btnFinalizar{
	left:975px;
	top:850px;
	width:200px;
	height:50px;
	font-size: 18px;
	font-family: Roboto, Arial, Verdana;
	font-weight: bold;
	background: #3cbdaf;
	color: #fff;
	background-repeat:no-repeat;
	background-size:cover;
}